
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:whitesmoke;
    font-family: 'Karla', sans-serif;
}

:root {
    --bgcolor : rgb(238, 231, 231) ;
    --accentcolor:rgba(78, 17, 9, 0.322); 
}

body {
    background-color: var(--bgcolor);
}

.link-tree {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    margin: 40px auto;
    gap: 20px;
}
.link-tree img {
    width: 150px;
    height: 180px;
    border-radius: 70%;
}
.link-tree h1{
    font-size: 2.5rem;
    color: rgb(243, 239, 239);
}

.link-tree a {
    background-color: var(--accentcolor);
    color: var(--bgcolor);
    width: 100%;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    border: solid 2px var(--accentcolor);
    transition: all 0.3s linear;
}

.link-tree a:hover {
    background-color: var(--bgcolor);
    color: var(--accentcolor);
}

@media (min-width: 1024px) {
    .link-tree {
        width: 40vw;
    }
}